[mysqld]
# Le dossier qui va stocker la base de donnée
datadir = /var/lib/mysql
# Le chemin ou ce trouve le socket de communication
socket  = /run/mysqld/mysqld.sock
# Je précise que toutes les IP du réseau peuvent se connecter
bind_address=*
# MySQL va communiquer sur le port 3306
port = 3306
# Le nom de l'utilisateur
user = mysql